<mat-sidenav-container class="container">
        <mat-toolbar color="primary" class="mat-elevation-z6">
            <span fxLayout="row" fxLayoutAlign="start center" fxFlex="grow">
                <span fxFlex="grow">Blockchain Explorer</span>
            </span>
        </mat-toolbar>   
        <div class="minnor-toolbar"></div>
        <div class="content">
            <div class="section">
                <router-outlet></router-outlet>
            </div>
        </div>   
</mat-sidenav-container>
